/* https://media.istockphoto.com/photos/thermometer-on-snow-shows-low-temperatures-zero-low-temperatures-in-picture-id868098786?k=20&m=868098786&s=612x612&w=0&h=6mq5iFO_ITp8kVmL5p0l-XnQOYwBZEYJK1iUXYPqmPo= */
/* https://images.unsplash.com/photo-1577256436245-8640190473bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fHN1bW1lcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60 */

body {
  background-image: url("https://images.unsplash.com/photo-1577256436245-8640190473bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fHN1bW1lcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: sans-serif;
}
#header {
  /* background-color: cadetblue; */
  height: 4vw;
  text-align: center;
  margin-bottom: 2vw;
  border-radius: 1vw;
}
#city {
  margin-left: 35%;
  width: 20vw;
  height: 2.2vw;
  border-radius: 0.5vw;
  border: none;
}
#submit {
  padding: 00.6vw 2vw 0.6vw 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 0.5vw;
  border-color: olivedrab;
  border: none;
}
#submit:hover {
  background-color: seagreen;
  color: white;
}
#top {
  display: flex;
  margin-top: 3vw;
  justify-content: space-around;
}

.box {
  /* border: 1px solid green; */
  width: 40vw;
  height: 100%;
  text-align: center;
  line-height: 4vw;
}

.below {
  display: flex;
  /* border: 1px solid red; */
  width: 100%;
  justify-content: space-between;
  margin-top: 5vw;
}
.box1 {
  padding: 1vw;
  box-sizing: border-box;
  text-align: center;
}
.box1:hover {
  background-color: lightgreen;
  border-radius: 5vw;
}
#h2 {
  margin-left: 30vw;
  margin-top: 4vw;
  margin-bottom: -3vw;
  color: black;
  width: fit-content;
  padding: 1vw;
  background-color: black;
  color: white;
  border-radius: 1vw;
}
.fivebox {
  width: 6vw;
}

.getHourlydataButton {
  padding: 00.6vw 2vw 0.6vw 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 0.5vw;
  border-color: olivedrab;
  border: none;
  background-color: blue;
  color: white;
}

.getHourlydataButton:hover {
  background-color: seagreen;
  color: white;
}
